<!DOCTYPE html>
<html lang="en">
<head>
    <title>ToDo</title>
    <link rel="stylesheet" href="./static/main.css">
    <!-- <script data-main="./scripts/index" src="./static/require.js"></script> -->
</head>
<body>
    <div class="main-container">
        <div class="heading">
            <h1>ToDo List</h1>
        </div>
        <div class="enter-task">
            <div class="list-form">
                <input type="text" name="task" id="description" onkeypress="addToDoKey(event)" autocomplete="off">
                <input type="button" id="addTask" name="button" value="Add" onclick="addToDo()">
            </div>
        </div>
        <div class="todolist" id="todolist">
           
        </div>
        <div class="completed-list" id="completed-list">
            <div class="list-form">
                
            </div>
        </div>
    </div>
    <!-- <script src="./static/bundle.js"></script> -->
    <script type="text/javascript" src="./static/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.3.2/uuidv4.min.js?"></script>
</body>
</html>